<div  [ngSwitch]="banned" class="video-container">
    <div *ngSwitchCase="true">
          <p>this video is unholy!</p>
          <h1>List of banned video ids</h1>
          <ol>
            <li *ngFor="let item of bannedVideos">{{item}}</li>
          </ol>

    </div>

 <div *ngSwitchCase="false" class="youtube-container">
   <div id="player" class="player-container"></div>
   <div class="hide-youtube-links"></div>
 
 
    <div *ngIf="paused" class="more-videos">
		<div class="more-videos-items"  >

		<!--  <a class="more-videos-thumbnails" *ngFor="let item of relatedVideos" [routerLink]="['/watch', item.id.videoId, item.title, channelId]" routerLinkActive="active"><img  src="https://img.youtube.com/vi/{{item.id.videoId}}/default.jpg"/></a>-->
		  <img class="more-videos-thumbnails" *ngFor="let item of relatedVideos" (click)="playRelatedVideo(item.id.videoId, item.title, channelId)" src="https://img.youtube.com/vi/{{item.id.videoId}}/default.jpg"/>
			   
		</div>	
	</div>

   <div class="controls">
       <button (click)="playYoutubeVideo()">Play</button>
	   <button (click)="pauseYoutubeVideo()">Pause</button>
   </div>

	   <!--
            <div class="hide-top-cover">test</div>

            <iframe #playerEl id="player" class="iframe" [src]="safeSrc" title="W3Schools Free Online Web Tutorials" >
            </iframe>
						         <!--   <div class="hide-more-videos-cover">test</div>

			           
           
    </div>-->

</div>



