.fa-edit:active {
   color: yellow;
}

.fa-edit:focus {
  color: yellow;
}

.fa-edit:hover {
  color: yellow;
}

.youtube-container {
	background-color: black;
	height: 100%;
	width: 100%;
	padding-bottom: 100px;
	position: relative;
	z-index: 1;
	display: inline-block;
}

.whiteboard-container{
  z-index: 9;
  height: 100%;
  width: 100%;

}

.hide-youtube-links {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: none ;
	bottom: 0;
	left: 0px;
	display: block;	
}

.player-container{
   display: relative;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;	
}

.video-container {
	background-color: black;
    display: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}




.slidecontainer {
  width: 100%;
  height: 30px;
  position: relative;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.control-buttons {
	margin-top: 20px;
	display:flex;
	flex-direction:row;

}

.control-buttons > div {
	color: white;
	margin-right: 10px;
}

mat-slider {
	width: 100%;
	padding: 20px;
	color: red;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: none;
  outline: none;

  -webkit-transition: .2s;
  transition: opacity .2s;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  display: none;
}

.slider:hover {

}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: green;
  cursor: pointer;
  margin-top: -7px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-progress{
	height: 10px;
	background-color: red;
}

.slider::-webkit-slider-runnable-track{
	height: 10px;
	background-color: red;
}

.slider::-ms-fill-lower{
	height: 10px;
	background-color: red;
}




.iframe {
   height: 100%;
   width: 100%;
}

.hide-top-cover {
	position: absolute;
	height: 10%;
	width: 100%;
	background-color: black ;

	top: 0;
	left: 0;
	display: block;
}



.more-videos {
	position: absolute;
	height: 500px;
	width: 100%;
	background-color: grey ;
	bottom: 115px;
	left: 0px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.closeMoreVideos {
  z-index: 3;
  color: white;

}

.more-videos-items{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	
}

.more-videos-thumbnails{
	padding: 20px;
	cursor: pointer;
}

.more-videos-thumbnails-blank{
	width: 90px;
}

.controls  {
   padding-left: 30px;
   padding-right: 30px;
   position: absolute;	
   height: 20%;
   width: 100%;
   background-color: black ;


}

.hide-more-videos-cover {
	position: absolute;
	height: 20%;
	width: 100%;
	background-color: black;
	bottom: 15%;

	left: 0;
	display: block;	
}
