<ol *ngFor="let item of data">
<li><a [href]="getSafeSrc(item.id.videoId)" >{{item.snippet.title}}</a></li>

</ol>


<div class="fixed-bottom bg-light">
  <div class=" d-flex justify-content-around  mb-3 ">
    
    <div class="d-flex flex-column justify-content-center align-items-center">
       <div><i class="fa fa-search fa-2x"></i></div>
       <div>Search</div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
       <div><i class="fa fa-heart fa-2x"></i></div>
       <div>Favorites</div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center bg-info">
       <div><i class="fa fa-history fa-2x"></i></div>
       <div>History</div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
       <div><i class="material-icons">more_horiz</i></div>
       <div>More</div>
    </div>
  </div>
</div>


